body {
text-align: center;
margin:0;
}

h1 { 
	color: #0d2c40;
	font-family: Raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin:0 ;


}

a {
	font-family: Raleway;
	color: #f1b531;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	padding: 0px 15px;
}

a:hover {
border-bottom: 2px solid white;
}

h2 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: 'Droid Serif';
	line-height: 26px;
	font-size: 18px;
}

header {
	color: #FFFFFF;
	background-color: #f1b531;
	padding:30px 20px;
}

nav {
	background-color: #00A6B3 ;
	color: #FFFFFF;
	padding: 20px 0px;
}

main {
	width:850px;
	margin:35px auto;
}

img {
	margin: 40px 8px;
}

footer {
	text-transform: uppercase;
	background: #0D2C40;
	padding: 0px 20px;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	
}

.copyright {
	float: left;
}

.message{
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}